:root {
  --color-primary: #a855f7;
  --color-accent: #f97316;
  --color-bgcolor: #f5f5f5;
  --color-text: #1f2937;
}
.theme-2 {
  --color-primary: #F21D44;
  --color-accent: #0367A6;
  --color-bgcolor: #f5f5f5;
  --color-textcolor: #1f2937;
}

.theme-3 {
  --color-primary: #02462e;
  --color-accent: #fec700;
  --color-bgcolor: #f5f5f5;
  --color-textcolor: #1f2937;
}
.color-purple {
  background-color: #a855f7;
}
.color-red {
  background-color: #F21D44;
}
.color-green {
  background-color: #02462e;
}
