@tailwind base;
@tailwind components;
@tailwind utilities;

/* Imports adicionais */
/*@import "tw-animate-css";
@import "leaflet/dist/leaflet.css";*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #7e22ce, #a855f7);
  color: white;
  font-family: sans-serif;
}

:root {
  --radius: 0.625rem;
  --color-background: #ffffff;
  --color-foreground: #0f0f0f;
  --color-border: #e5e7eb; /* gray-200 */
  --color-input: #f3f4f6; /* gray-100 */
  --color-ring: #6366f1; /* indigo-500 */
}

.dark {
  --color-background: #0f0f0f;
  --color-foreground: #f9fafb;
  --color-border: #1f2937; /* gray-800 */
  --color-input: #374151; /* gray-700 */
  --color-ring: #3b82f6; /* blue-500 */
}

@layer base {
  * {
    @apply outline-none;
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

@keyframes drawMapLine1 {
  0% {
    height: 0;
    width: 3px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 0;
  }
  30% {
    height: 60%;
    width: 3px;
    opacity: 1;
  }
  70% {
    height: 60%;
    width: 3px;
    opacity: 1;
  }
  100% {
    height: 0;
    width: 3px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 0;
  }
}

@keyframes drawMapLine2 {
  0% {
    width: 0;
    height: 3px;
    top: 20%;
    left: 20%;
    opacity: 0;
  }
  30% {
    width: 70%;
    height: 3px;
    opacity: 1;
  }
  70% {
    width: 70%;
    height: 3px;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 3px;
    top: 20%;
    left: 20%;
    opacity: 0;
  }
}

.map-line-1 {
  animation: drawMapLine1 3s infinite ease-in-out;
  animation-delay: 0.1s;
}

.map-line-2 {
  animation: drawMapLine2 3s infinite ease-in-out;
  animation-delay: 1s; 
}

.map-loader {
}
