@import "./styles/globals.css";
@import "./styles/themes.css";

@layer base {
  * {
    @apply outline-none;
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

@keyframes drawMapLine1 {
  0% {
    height: 0;
    width: 3px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 0;
  }
  30% {
    height: 60%;
    width: 3px;
    opacity: 1;
  }
  70% {
    height: 60%;
    width: 3px;
    opacity: 1;
  }
  100% {
    height: 0;
    width: 3px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 0;
  }
}

@keyframes drawMapLine2 {
  0% {
    width: 0;
    height: 3px;
    top: 20%;
    left: 20%;
    opacity: 0;
  }
  30% {
    width: 70%;
    height: 3px;
    opacity: 1;
  }
  70% {
    width: 70%;
    height: 3px;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 3px;
    top: 20%;
    left: 20%;
    opacity: 0;
  }
}

.map-line-1 {
  animation: drawMapLine1 3s infinite ease-in-out;
  animation-delay: 0.1s;
}

.map-line-2 {
  animation: drawMapLine2 3s infinite ease-in-out;
  animation-delay: 1s;
}

.map-loader {
}
